@import "tailwindcss";

/* Your custom styles below */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
}

* {
  border-color: var(--color-border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
